.wide {
    margin: 0px ;
}

#scroll-btn {
    margin-left: auto;
    margin-right: auto;
}

#nav li a {
    padding: 2.5vh !important;
}
.icons li {
    height: 100%;
}

.icons li a {
    height:100%;
    width:100%;
}

.eat-drink {
    height: 20vh;
    text-align: center;
}
#eat {
    width: 33%;
}

#drink {
    width: 33%;
}

#cocktails {
    width: 33%;
}

#menu-title {
    width: 60vw;
    margin: auto !important;

}

#menu-title h2 {

    padding-bottom: 0;
    margin-bottom: 0;
}


/* Parallax Effect */
/*
Use a container element and add a background image to the container with a specific height.
Then use 'background-attachement: fixed; ' to create the parallax effect
The image will need to centered and scaled after.
*/

.parallax {
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}